img {
  width: 500px;
  border-style: groove;
  border-color: #e1afd1;
  border-radius: 25px;
}
body {
  /* background-color: black; */
  background-image: linear-gradient(#ffe6e6, #e1afd1, #ad88c6, #7469b6);

  color: black;
  text-align: center;
}
h1 {
  font-family: "Playwrite AT", cursive;
}
li {
  font-family: "Playwrite AT", cursive;
  font-weight: bold;
  font-size: 25px;

  color: black;
  margin-bottom: 50px;
  margin-top: 30px;
}
p {
  font-family: "Playwrite AT", cursive;

  color: black;
}
